<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>vprofile_pract_snapshot</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vprofile_pract_release</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
        <server>
        <id>vprofile_pract_proxy</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
        <id>vprofile_pract_group</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>vprofile_pract_proxy</id>
      <name>vprofile_pract_proxy</name>
      <url>http://172.31.45.116:80/repository/vprofile_pract_proxy/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
